@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  //font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
/*choose file input*/
.custom-file-input {
  width: 74px;
  float: right;
  cursor: pointer!important;
  //font-size: 0;
}
.custom-file-label {
  overflow: hidden;
  z-index: 0;
  white-space: nowrap;
}
.custom-file-label::after {
  cursor: pointer;
}
//.custom-file1 {
//  position: relative;
//  display: inline-block;
//  width: 100%;
//  height: calc(1.5em + .75em + 2px);
//  margin-bottom: 0;
//}